<header class='page-header'>
  <div class='app-box'>
    <div class='app-name'>
      <h1 class='header-title'>WorkingTask Manager</h1>
    </div>
    <div class='user-box'>
      <div class='user-name'></div>
    </div>
  </div>
</header>