.task-form{
  display: grid;
  place-items: center;
  padding-top: 10px;
}

.task-form-box{
  background-color: rgb(223, 239, 255);
  border-radius: 10px;
  border: 2px solid black;
  height: 550px;
  width: 450px;
}

.weight-bold-text{
  font-size: 20px;
  font-weight: bold;
  min-width: 170px;
  padding-left: 10px;
  margin: 10px 0;
}

.tasks-info{
  height: 25px;
  width: 80%;
  padding: 10px 16px 8px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.task-date, .select-box{
  font-size: 20px;
  margin-left: 10px;
}

.but-box{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-btn, .back-btn, .task-destroy{
  margin: 10px;
  cursor: pointer;
}

.make-btn, .task-destroy{
  height: auto;
  width: auto;
  font-size: 20pt;
}

.task-destroy{
  border-radius: 10%;
  font-weight: bold;
  padding       : 7px;
  background    : #ca3939;
  color         : #ffffff;
  border        : 2px solid #000066;
}

.task-destroy:hover {
  box-shadow: none;
  color: #ca3939;
  background: #ffffff;
}